

/* STYLING OF THE FIRST-BOX */





/* STYLING OF SECOND-SECTION */
.second-box{
  margin: auto;
  padding: 100px;
}

.second-box h2{
  text-align: center;
}

.second-section{
  margin: 20px 5px;
}

.second-section article{
  margin: 50px 0px;
}

.second-section article h3{
  margin: 13px 0;
}


/* STYLING OF FOOTER */
