*{
  margin: 0;
  padding: 0;
}
.container{

}

.first-box{

}
/* STYLING OF THE NAVIGATION BAR */

nav{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.nav-pack{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.nav-ul{
  display: flex;
  list-style: none;
}

.nav-ul li{
  padding: 5px 15px;
  cursor: pointer;
}

.nav-clicks{
  display: flex;
  cursor: pointer;
}

.nav-clicks p{
  padding: 5px 15px;
}

.nav-clicks button{
  padding: 0 10px;
  margin: 0 5px;
  width: 100px;
  cursor: pointer;
}