body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Overpass', sans-serif;
  line-height: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: auto 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* STYLING FOR MOBILE DEVICES FIRST!! */

button{
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

/* STYLING OF NAVBAR */
.nav-box{
  display: flex;
  width: 90%;
  justify-content: space-between;
  background: transparent;
  position: relative;
  z-index: 1;
  top: 30px;
  margin: auto;
  color: white;
}

.logo{
  float: left;
  margin-left: 10px;
}

.nav-icon{
  margin: auto 10px;
}

.nav-section{
  display: none;
}

.nav-ul{
  list-style: none;
}

.nav-page{
  margin: 0 10px;
  display: inline;
  cursor: pointer;
}

.nav-div{
  display: none;
}

.nav-btn{
  padding: 5px;
  margin: auto 10px;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  background-color: white;
  color: hsl(356, 100%, 66%);
  border: transparent 1px solid;
}

.nav-btn:hover{
  color: white;
  background-color: hsl(355, 100%, 74%);
}

.angle{
  height: 10px;
  width: 15px;
}

/* For Devices above 500px using media query */

@media screen and (min-width: 510px){
  .nav-section{
    display: flex; 
    width: 90%;
    justify-content: space-between;
  }

  .nav-div{
    display: flex;
  }

  .nav-icon{
    display: none;
  }

  .nav-ul{
    margin: auto 0px;
  }
  
}

@media screen and (max-width: 600px){
  .nav-page{
    margin: 0 5px;
  }

  .nav-ul{
    margin: auto 0;
    padding: 0;
  }

  .logo{
    width: 70px;
  }
  .nav-box{
    width: 100%;
    font-size: 14px;
  }

  .nav-btn{
    width: 80px;
    height: 30px;
  }

}

/* STYLING OF THE HOME PROJECT */
/* .home{
  overflow-x: hidden;
} */


.container::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.container{
  position: relative;
  min-height: 30rem;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border-radius: 0 0 0 80px;
  padding-top: 50px;
  background-image: url(images/bg-pattern-intro-mobile.svg);
  background-size: 160%;
}
.first-section{
  text-align: center;
  padding: 100px auto;
  width: 85%;
}

.first-section h1{
  font-size: 2rem;
  color: white;
  margin: 2rem auto;
}

.first-section p{
  margin: 10px auto;
  width: 75%;
  color: white;
}

.FSBTN1{
  margin: 10px;
  padding: 7px ;
  border-radius: 25px;
  background-color: white;
  color: hsl(356, 100%, 66%);
  cursor: pointer;
  width: 120px;
  height: 45px;
  border: transparent 1px;
}

.FSBTN2{
  margin: 10px;
  padding: 7px ;
  border-radius: 25px;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  width: 120px;
  height: 45px;
  color: white;
}

.FSBTN2:hover{
  color: hsl(356, 100%, 66%);
  background-color: white;
}

.FSBTN1:hover{
  color: white;
  background-color: hsl(355, 100%, 74%);
}

/* STYLING OF SECOND-SECTION */
.others{
  overflow: hidden;
  padding-top: 5rem;
}

.others h3, .others h2{
  color: hsl(208, 49%, 24%);
}

.others p{
  color: hsl(237, 17%, 21%);
}
.second-box{
  margin: auto;
  /* margin-bottom: 5rem; */
  padding-bottom: 5rem;
}

.second-box h1{
  text-align: center;
  color: hsl(208, 49%, 24%);
}

.second-section{
  text-align: center;
  height: max-content;
}

.second-section article{
  margin: 3rem 1rem;
}

.second-section article h2{
  margin: 1rem 0;
}

.image-two{
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

/* STYLING FOR THIRD BOX */
.third-box{
  margin: auto;
  padding: 0px;
  text-align: center;
  margin-top: 10rem ;
  color: white;
  border-radius: 0 100px 0 100px;
  background-color: hsl(240, 10%, 16%);
  height: max-content;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: -12rem;
  background-image: url(images/bg-pattern-circles.svg);
}

.third-box article{
  top: -8rem;
  position: relative;
  padding: 1rem;
}

.third-box article p{
  color: white;
}

.third-box article h1{
  margin-bottom: 15px;
  color: white;
}

.image-three{
  width: 100%;
  position: relative;
  top: -10rem;
}

/* STYLING FOR FOURTH BOX */
.fourth-box{
  margin: auto;
  padding: 100px 20px;
  text-align: center;
}

.fourth-box article{
  margin: 40px 0px;
}

.fourth-box article h3{
  margin-bottom: 20px;
}

.image-four{
  width: 100%;
  height: 100%;
}

/* STYLING OF FOOTER */
footer{
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  border-radius: 0px 120px 0 0;
  padding: 30px;
  display: grid;
}

.footer-logo{
  margin: 2rem auto;
}

footer ul{
  list-style: none;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

footer li{
  padding: 3px;
}

.first-li{
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}

/* ADJUSTMENT FOR BIGGER WIDTH */
@media screen and (min-width: 500px) {
  body{
    line-height: 1.8rem;
  }
  .first-section h1{
    font-size: 4rem;
  }
  .SBGRID, .FBGRID{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image-box{
    grid-column-start: 2;
  }
  .second-section{
    grid-column-start: 0;
    grid-row-end: 1;
    margin: 3rem 2rem 1.5rem 4rem;
  }

  .second-section article p {
    line-height: 1.7rem;
  }
  .SSART, .TBGRID, .FBGRID{
    text-align: left;
  }
  .second-box, .TBGRID, .fourth-box{
    margin: auto;
  }
  .third-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 390px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 85%;
    background-position-x: -100%;
    background-image: url(images/bg-pattern-circles.svg);
  }

  .third-box article{
    margin-right: 20%;
    text-align: left;
    height: max-content;
    margin-top: 15%;
    color: white;
    padding: 0;
    top: auto;
  }

  .third-box article h1{
    font-size: 2.5rem;
    font-weight: 300;
  }
  
  .image-three{
    top: -12%;
    left: 10%;
    position: relative;
    width: auto;
    height: auto;
  }

  .image-four{
    width: 100%;
    right: 30%;
    height: 120%;
    position: relative;
  }

  .image-two{
    width: 120%;
    height: 40rem;
    left: 15%;
    top: -5rem;
    position: relative;
    margin: 0;
  }

  .SBGRID{
    height: max-content;
  }

  .fourth-box section{
    margin-right: 5rem;
  }

  footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-start;
  }
}

/* STYLING OF SIDEBAR */
.sidebar-wrapper{
  position: fixed;
  width: 70%;
  background-color: transparent;
  margin: auto;
  height: max-content;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  visibility: hidden;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.show{
  z-index: 1;
  visibility: visible;
}
.sidebar{
  width: 90%;
  margin: auto;
}
.sidepage{
  margin: 20px auto;
  width: max-content;
}
.sidelinks{
  width: 60%;
  height: max-content;
  background-color: gray;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}
.link{
  margin: 10px auto;
}
.login{
  margin: 10px auto;
}
.sidebtn{
  margin: 10px auto;
  padding: 10px;
  width: 100px;
  border-radius: 30px;
  border: transparent ;
}
hr{
  margin-top: 10px;
}

/* styling of submenu */
/* .submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu {
  background: white;
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
  width: 30px;
} */

.submenu{
  background-color: white;
  width: 150px;
  padding:20px 10px;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  display: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 8px;
}

.subshow{
  visibility: visible;
  display: block;
}

.submenu p{
  margin: 8px;
}

/* STYLING OF DESKTOP IMAGES */


